body{
    background-image: url("http://www.themesrefinery.net/wp-content/uploads/2014/06/Elegant_Background-19.jpg");
}

#login{
    
    background-color: lightblue;
    width: 25%;
    height: 60%;
    padding-bottom: 5%;
    padding-top: 1%;
    border-radius: 25px;
    opacity: 0.8;
}  

#login:hover{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/99/a7/5d/99a75d485745d13b7c5c6d394260ac7d.jpg");
    color: white;
}

.title:hover{
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#menu{
    
    background-color: black;
    border-radius: 25px;
    opacity: 0.8;
    width: 25%;
    padding-bottom: 5%;
    padding-top: 1%;
    height: 60%;
    color: antiquewhite;
    
}

#menu:hover{
    opacity: 1.0;
}

#transferencia{
    
    background-color: whitesmoke;
    border-radius: 25px;
    opacity: 0.8;
    width: 25%;
    padding-bottom: 5%;
    padding-top: 1%;
    height: 60%;
    color: black;
}

#transferencia:hover{      
    opacity: 1.0;
}

a:link {
    text-decoration: none;
}

a{
    color: white;
}

a:hover{
   color: yellow;
}

#volver{
    color: black;
}

#volver:hover{
    color: whitesmoke;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: whitesmoke;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td:hover{
    background-color: yellow;
}

#exito{
    color: green;
    background-color: black;
}

#error{
    color: red;
    background-color: black;
}


